<%= form_for(@tweet) do |form| %>
  <section class="new-section">
      <div class="user-name-field">
      <%= form.text_field :user_name, maxlength: 50, size: '30x20' %>
      </div>

      <div class='message-field'>
      <%= form.text_area  :message, size: '50x10' %>
      </div>

      <div class="new-submit">
      <%= form.submit %>
      </div>
      <% end %>
</section>
