<article>
  <ul>
    <% @tweets.each do |tweet| %>

      <div class="message-all">
        <li><%= link_to tweet.message, "/tweets/#{tweet.id}" %></li>
      </div>
      <div class="name-all">
        <%= tweet.user_name  %>
      </div>
    <% end %>
  </ul>
</article>
