// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font: Helvetica;

div {
  font-family: $font;
}

div.name {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
}

div.message {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

div.delete {
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

div.message-all {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

div.name-all {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}

.new-section {
  width: 330px;
  margin-left: auto;
  margin-right: auto;

  .user-name-field {

  }

  .message-field {
    margin-top: 10px;
  }
}


